# Pandas - תרגיל מסכם

### תייבאו את הספריות numpy, pandas

### תיצרו את ה Series הבא

a    1.0
b    2.0
3    NaN
dtype: float64

### תיצרו את ה Series שערכיו הם החיסור של שני ה Series-ים הבאים

In [3]:
s1 = pd.Series({'x': 33, 'y': 50, 'z': 80})
s2 = pd.Series({'x': 22, 'y': 80, 'z': 11})

x    11
y   -30
z    69
dtype: int64

### תיצרו את ה DataFrame הבא

In [5]:
df = 
df

   a  b  c
x  1  4  7
y  2  5  8
z  3  6  9

### תייצרו מהDataFrame הנוכחי את ה DataFrame הבא

In [6]:
part_df = 
part_df

   a  c
x  1  7
y  2  8

### תיצרו עמודה חדשה שמורכבת ממכפלה של עמודה a ו c

In [7]:

df

   a  b  c  new_col
x  1  4  7        7
y  2  5  8       16
z  3  6  9       27

### תימחקו את העמודה שהוספתם הרגע (ותדאגו שהשינוי ישמר)

In [8]:

df

   a  b  c
x  1  4  7
y  2  5  8
z  3  6  9

### תיצרו את ה DataFrame הבא מתוך ה DataFrame הנוכחי

    a    b  c
x NaN  NaN  7
y NaN  5.0  8
z NaN  6.0  9

### שנה את הערך ['z', 'a'] של ה DataFrame ל 0

In [10]:

df

   a  b  c
x  1  4  7
y  2  5  8
z  0  6  9

### מיין את ה DataFrame לפי ערכי עמודה a

In [11]:

df

   a  b  c
z  0  6  9
x  1  4  7
y  2  5  8

### הגדל את כל ערכי ה DataFrame ב 1

In [12]:

df

   a  b   c
z  1  7  10
x  2  5   8
y  3  6   9

### מצא את סכום כל ערכי העמודה b

18

### תיצרו את ה DataFrame הבא

In [14]:
df = 
df

     a    b  c
x  1.0  1.0  3
y  2.0  NaN  2
z  NaN  NaN  3

### תמצאו כמה ערכים יחודיים יש בעמודה c

2

### תצרו DataFrame ללא שורות עם ערכי nan מתוך ה DataFrame הנוכחי

     a    b  c
x  1.0  1.0  3

### תצרו DataFrame ללא שורות שיש בהן יותר מ nan אחד

     a    b  c
x  1.0  1.0  3
y  2.0  NaN  2

### תנו ל index של ה DataFrame את השם ind

In [20]:

df

       a    b  c
ind
x    1.0  1.0  3
y    2.0  NaN  2
z    NaN  NaN  3

### שימרו את ה DataFrame לתוך קובץ

### קראו את ה DataFrame מתוך הקובץ ושימו לב שהאינדקס נכון

       a    b  c
ind
x    1.0  1.0  3
y    2.0  NaN  2
z    NaN  NaN  3